  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" placeholder="Student_ID" name="month">
      <label for="floatingInput">month</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" placeholder="Name" name="total_Att">
      <label for="floatingInput">Total Attendance</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" placeholder="number" name="studentID">
      <label for="floatingInput">StudentID</label>
    </div>
  </div>
  

  <div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>